.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 920px) {
  .header {
    width: 88%;
  }
}

@media screen and (max-width: 620px) {
  .header {
    width: 100%;
    margin: 0;
    padding: 28px 0 32px;
  }
}

