.profile__name {
  max-width: 294px;
  margin: 0 18px 16px 0;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 580px) {
  .profile__name {
    margin: 0 10px 14px 0;
    font-size: 27px;
    line-height: 32.7px;
  }
}

@media screen and (max-width: 920px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.7px;
  }
}
