.popup__title {
  margin: 0 0 48px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

@media screen and (max-width: 620px) {
  .popup__title {
    margin: 0 0 70px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
  }
}
